<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title or metadata.title + ' by ' + metadata.subtitle }}</title>
  <meta name="description" content="{{ renderData.description or excerpt or metadata.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="robots" content="index,follow">
  <meta name="generator" content="Eleventy">
  <link rel="preconnect" href="https://www.google-analytics.com">
  <link rel="preconnect" href="https://www.googletagmanager.com">
  <link rel="preconnect" href="https://use.typekit.net" crossorigin>

  {%- block seo -%}
    <!--Twitter Card-->
    <meta name="twitter:site" content="{{ "@" + metadata.twitter }}">
    <meta name="twitter:creator" content="{{ "@" + metadata.author.social.twitter }}">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ title or metadata.title + ' // ' + metadata.subtitle }}">
    <meta name="twitter:description" content="{{ data.excerpt or metadata.description }}">
    <meta name="twitter:image" content="{{ data.cover.image or metadata.card_image }}">
    <meta name="twitter:image:alt" content="{{ data.cover.alt or metadata.card_alt }}">

    <!--Schema-->
    <link rel="author" href="{{ metadata.url }}">
    <link rel="publisher" href="{{ metadata.url }}">
    <link rel="icon" href="/assets/icons/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/icons/safari-pinned-tab.svg" color="#18C76E">
    <meta itemprop="name" content="{{ title or metadata.title + ' by ' + metadata.subtitle }}">
    <meta itemprop="description" content="{{ data.excerpt or metadata.description }}">
    <meta itemprop="image" content="{{ data.cover.img or metadata.card_image }}">

    <!-- Facebook OpenGraph -->
    <meta property="og:url" content="{{ page.url | url | absoluteUrl(metadata.url) }}">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ title or metadata.title + ' by ' + metadata.subtitle }}">
    <meta property="og:image" content="{{ data.cover.img or metadata.card_image }}">
    <meta property="og:description" content="{{ data.excerpt or metadata.description }}">
    <meta property="og:site_name" content="{{ title or metadata.title + ' by ' + metadata.subtitle }}">
    <meta property="og:locale" content="{{ metadata.lang }}">
    <meta property="article:author" content="{{ metadata.url }}">
  {%- endblock -%}
  <link rel="preload" as="style" href="https://use.typekit.net/fur6cpg.css" onload="this.onload=null;this.rel='stylesheet'">
  {% if site.environment === 'production' %}
    <!-- INLINE CSS-->
  {% else %}
    <link rel="stylesheet" href="/assets/css/ui.css">
  {% endif %}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-TRQLX2CW12"></script>
  <script>
    window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'G-TRQLX2CW12');
  </script>
</head>
